/* Defaults */
nav,
header,
footer {
    display: block;
}

body {
    line-height: 1;
    margin: 0; /* everything is to the edges */
    font-family: 'Roboto', sans-serif;
}

/* Navigation - nav bar
see https://www.udemy.com/ultimate-web/learn/v4/t/lecture/6786614?start=0 */
nav {
    width: 100%;
    margin: 0;
    text-align: right;
}

nav ul {
    background-color: rgba(0,0,0,0.2);
    overflow: hidden; /* any elements that are too big will be clipped */
    /*margin: 0;*/
    margin:0;
    padding: 0;
}

ul.topnav li {
    list-style: none; /* remove bullets */
    float: right;
}

ul.topnav li a {
    display:block;
    text-decoration: none;
    min-height: 16px; /*minimum font size */
    text-align: center;
    padding: 14px;
    text-transform: uppercase;
    color: white;
}

ul.topnav li a:hover {
    background-color:#0080ff;
    color:#ffffff;   
}

ul.topnav li.dropdownIcon{
    display: none;
}


/* MOBILE STYLES*/
@media screen and (max-width: 680px)
{
    ul.topnav li {
        display: none;
    }

    ul.topnav li.dropdownIcon {
        display: block;
        float: right;
    }
    
    ul.topnav.responsive li.dropdownIcon{
        position:absolute;
        top: 0;
        right: 0;
    }
    
    ul.topnav.responsive
    {
        position: relative;
    }
    ul.topnav.responsive li
    {
        display: inline;
        float: none;
    }
    
    ul.topnav.responsive li a
    {
        display: block;
        text-align: left;
    }
}